<a href="https://colab.research.google.com/github/jcestevezc/Cloudera/blob/master/Spark%20Core/Spark_Core_Commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Create RDD from Local File

You can use textFile spark context method to create RDD from local or HDFS file systems

In [ ]:
rdd = sc.textFile("file:////home/impadmin/test.txt")

### Create RDD from HDFS File

rdd = sc.textFile("hdfs:/localhost:8020/home/impadmin/test.txt")

## Basic Spark Transformations

Transformations are Spark operation which will transform one RDD into another. Transformations will always create new RDD from original one.

Below are some basic transformations in Spark:

* map()
* flatMap()
* filter()
* groupByKey()
* reduceByKey()
* sample()
* union()
* distinct()

### map ()
The “map” transformation apply lambda functions to all elements of the RDD and return new RDD.

Convert all values in RDD to UPPER case. You can either create separate function to convert values to uppercase or write lambda function in map transformation.

In [ ]:
rdd1 = rdd.map(lambda x: x.upper(), rdd.values)

### flatMap()

The “flatMap” transformation will return a new RDD by first applying a function to all elements of this RDD, and then flattening the results.

In [ ]:
words = lines.flatMap(lambda line: line.split(" "))

### filter()

To remove the unwanted values, you can use a “filter” transformation which will return a new RDD containing only the elements that satisfy given condition(s).

In [ ]:
remove_values = ['ERTE','SADFS']
rdd2 = rdd1.filter(lambda x: x not in remove_values)

### groupByKey() and reduceByKey()

You can apply groupByKey and reduceByKey transformations on key value pair RDD. The “groupByKey” will group the values for each key in the original RDD. It will create a new pair, where the original key corresponds to this collected group of values.

In [ ]:
rdd_tmp = rdd.map(lambda x: (x,1))
rdd_grp = rdd_tmp.groupByKey()

tuples = words.map(lambda word: (word, 1))
counts = tuples.reduceByKey(lambda a,b: (a + b))

### sample()

The “Sample” transformation will allow you to work on sample data set. The sample method will return a new RDD, containing a statistical sample of the original RDD. Given examples, select 20% (.2) of total original RDD values.

In [ ]:
rdd_sample = rdd.sample(False, .2, 4)

### union()

You can combine content of two different RDD’s using “union” transformations. Result will be new RDD with all values from two RDD’s.

rdd_sample1 = rdd.sample(False, .2, 4)
rdd_sample2 = rdd.sample(False, .4, 4)
union_samples = rdd_sample1.union(rdd_sample2)

### distinct()

You can select distinct elements from RDD using “distinct” transformation.Distinct transformation will create new RDD containing distinct elements from the original RDD.

In [ ]:
rdd_distinct = union_samples.distinct()

## Basic Spark Actions

Actions in the spark are operations that provide non-RDD values. Actions will not create RDD like transformations.

Below are some of the commonly used action in Spark.

* collect()
* take(n)
* count()
* max()
* min()
* sum()
* variance()
* stdev()
* reduce()


### Collect()
Collect is simple spark action that allows you to return entire RDD content to drive program.

In [ ]:
rdd_distinct.collect()

### take(n)

You can use “take” action to display sample elements from RDD.
You can check first 5 values from RDD using ‘take’ action.

In [ ]:
rdd.take(5)

### count()
The “count” action will count the number of elements in RDD.

In [ ]:
rdd_distinct.count()

### max()

The “max” action will display the max elements from RDD.

In [ ]:
rdd_int.max()

### min()

The “min” action will display the min elements from RDD.

In [ ]:
rdd_int.min()

### variance()
The “variance” action will display the variance of all elements from RDD.

In [ ]:
rdd_int.variance()

### stdev()
The “stdev” action will display the stdev of all elements from RDD.

In [ ]:
rdd_int.stdev ()

### Reduce()
The “reduce” action takes the two elements as input from the RDD and then produces the output of the same type as that of the input elements.

num_rdd = sc.parallelize(range(0,100))
num_rdd.reduce(lambda x,y: x+y)

In [ ]:
counts.coalesce(1).saveAsTextFile("hdfs://localhost/user/cloudera/wordcount/outputDir")